# Tugas_1
### Data_Integration
##### Nailatul_Muna 06211640000092
###### data source : bps.go.id

In [38]:
import pandas as pd
import numpy as np

In [39]:
#load Data ke-1
penduduk_kota = pd.read_excel (r'D:/Penduduk.xlsx', sheet_name = 'perkotaan')
penduduk_kota

    No              Provinsi  Laki-laki_kota  Perempuan_kota
0    1                  Aceh          636535          627270
1    2        Sumatera Utara         3179246         3203426
2    3        Sumatera Barat          931178          946644
3    4                  Riau         1109937         1059592
4    5                 Jambi          480788          467784
5    6      Sumatera Selatan         1339228         1326901
6    7              Bengkulu          266826          264155
7    8               Lampung          990172          965053
8    9  Kep. Bangka Belitung          309988          292118
9   10        Kepulauan Riau          711274          679513
10  11           DKI Jakarta         4870938         4736849
11  12            Jawa Barat        14399439        13883476
12  13           Jawa Tengah         7343099         7461939
13  14         DI Yogyakarta         1143576         1153685
14  15            Jawa Timur         8839498         8993235
15  16                Banten         3636326         3487794
16  17                  Bali         1186075         1156504
17  18   Nusa Tenggara Barat          908555          969275
18  19   Nusa Tenggara Timur          456345          449598
19  20      Kalimantan Barat          668784          659401
20  21     Kalimantan Tengah          380375          359881
21  22    Kalimantan Selatan          772573          752552
22  23      Kalimantan Timur         1152816         1052909
23  24        Sulawesi Utara          518796          507788
24  25       Sulawesi Tengah          322531          318417
25  26      Sulawesi Selatan         1446228         1499201
26  27     Sulawesi Tenggara          305406          305967
27  28             Gorontalo          173903          179778
28  29        Sulawesi Barat          131009          134079
29  30                Maluku          286468          282927
30  31          Maluku Utara          142869          138372
31  32           Papua Barat          120377          107386
32  33                 Papua          398464          337165
33  34             Indonesia        59559622        58760634

In [40]:
# load data ke-2
penduduk_desa = pd.read_excel (r'D:/Penduduk.xlsx', sheet_name = 'perdesaan')
penduduk_desa

    No              Provinsi  Laki-laki_desa  Perempuan_desa
0    1                  Aceh         1612417         1618188
1    2        Sumatera Utara         3304108         3295424
2    3        Sumatera Barat         1473199         1495888
3    4                  Riau         1743231         1625607
4    5                 Jambi         1100322         1043371
5    6      Sumatera Selatan         2453419         2330846
6    7              Bengkulu          610333          574204
7    8               Lampung         2926450         2726730
8    9  Kep. Bangka Belitung          325106          296084
9   10        Kepulauan Riau          150870          137506
10  11           DKI Jakarta               0               0
11  12            Jawa Barat         7507601         7263216
12  13           Jawa Tengah         8748013         8829606
13  14         DI Yogyakarta          565334          594896
14  15            Jawa Timur         9664018         9980006
15  16                Banten         1802822         1705224
16  17                  Bali          775273          772905
17  18   Nusa Tenggara Barat         1275091         1347291
18  19   Nusa Tenggara Timur         1870142         1907742
19  20      Kalimantan Barat         1578119         1489679
20  21     Kalimantan Tengah          773368          698465
21  22    Kalimantan Selatan         1063637         1037854
22  23      Kalimantan Timur          718874          628544
23  24        Sulawesi Utara          641107          602905
24  25       Sulawesi Tengah         1028313          965748
25  26      Sulawesi Selatan         2478203         2611144
26  27     Sulawesi Tenggara          816420          804793
27  28             Gorontalo          348011          338472
28  29        Sulawesi Barat          450517          443046
29  30                Maluku          489009          475102
30  31          Maluku Utara          388524          368322
31  32           Papua Barat          282021          250638
32  33                 Papua         1107419          990333
33  34             Indonesia        60071291        59249779

In [41]:
# merging data ke-1 dengan data ke-2
penduduk = pd.merge(penduduk_kota, penduduk_desa, on='Provinsi')
penduduk

,No_x,Provinsi,Laki-laki_kota,Perempuan_kota,No_y,Laki-laki_desa,Perempuan_desa
0,1,Aceh,636535,627270,1,1612417,1618188
1,2,Sumatera Utara,3179246,3203426,2,3304108,3295424
2,3,Sumatera Barat,931178,946644,3,1473199,1495888
3,4,Riau,1109937,1059592,4,1743231,1625607
4,5,Jambi,480788,467784,5,1100322,1043371
5,6,Sumatera Selatan,1339228,1326901,6,2453419,2330846
6,7,Bengkulu,266826,264155,7,610333,574204
7,8,Lampung,990172,965053,8,2926450,2726730
8,9,Kep. Bangka Belitung,309988,292118,9,325106,296084
9,10,Kepulauan Riau,711274,679513,10,150870,137506
10,11,DKI Jakarta,4870938,4736849,11,0,0
11,12,Jawa Barat,14399439,13883476,12,7507601,7263216
12,13,Jawa Tengah,7343099,7461939,13,8748013,8829606
13,14,DI Yogyakarta,1143576,1153685,14,565334,594896
14,15,Jawa Timur,8839498,8993235,15,9664018,9980006
15,16,Banten,3636326,3487794,16,1802822,1705224
16,17,Bali,1186075,1156504,17,775273,772905
17,18,Nusa Tenggara Barat,908555,969275,18,1275091,1347291
18,19,Nusa Tenggara Timur,456345,449598,19,1870142,1907742
19,20,Kalimantan Barat,668784,659401,20,1578119,1489679
20,21,Kalimantan Tengah,380375,359881,21,773368,698465
21,22,Kalimantan Selatan,772573,752552,22,1063637,1037854
22,23,Kalimantan Timur,1152816,1052909,23,718874,628544
23,24,Sulawesi Utara,518796,507788,24,641107,602905
24,25,Sulawesi Tengah,322531,318417,25,1028313,965748
25,26,Sulawesi Selatan,1446228,1499201,26,2478203,2611144
26,27,Sulawesi Tenggara,305406,305967,27,816420,804793
27,28,Gorontalo,173903,179778,28,348011,338472
28,29,Sulawesi Barat,131009,134079,29,450517,443046
29,30,Maluku,286468,282927,30,489009,475102
30,31,Maluku Utara,142869,138372,31,388524,368322
31,32,Papua Barat,120377,107386,32,282021,250638
32,33,Papua,398464,337165,33,1107419,990333
33,34,Indonesia,59559622,58760634,34,60071291,59249779

In [42]:
# delete coloumn No
penduduk = penduduk.drop(['No_x','No_y'],axis=1)
penduduk

,Provinsi,Laki-laki_kota,Perempuan_kota,Laki-laki_desa,Perempuan_desa
0,Aceh,636535,627270,1612417,1618188
1,Sumatera Utara,3179246,3203426,3304108,3295424
2,Sumatera Barat,931178,946644,1473199,1495888
3,Riau,1109937,1059592,1743231,1625607
4,Jambi,480788,467784,1100322,1043371
5,Sumatera Selatan,1339228,1326901,2453419,2330846
6,Bengkulu,266826,264155,610333,574204
7,Lampung,990172,965053,2926450,2726730
8,Kep. Bangka Belitung,309988,292118,325106,296084
9,Kepulauan Riau,711274,679513,150870,137506
10,DKI Jakarta,4870938,4736849,0,0
11,Jawa Barat,14399439,13883476,7507601,7263216
12,Jawa Tengah,7343099,7461939,8748013,8829606
13,DI Yogyakarta,1143576,1153685,565334,594896
14,Jawa Timur,8839498,8993235,9664018,9980006
15,Banten,3636326,3487794,1802822,1705224
16,Bali,1186075,1156504,775273,772905
17,Nusa Tenggara Barat,908555,969275,1275091,1347291
18,Nusa Tenggara Timur,456345,449598,1870142,1907742
19,Kalimantan Barat,668784,659401,1578119,1489679
20,Kalimantan Tengah,380375,359881,773368,698465
21,Kalimantan Selatan,772573,752552,1063637,1037854
22,Kalimantan Timur,1152816,1052909,718874,628544
23,Sulawesi Utara,518796,507788,641107,602905
24,Sulawesi Tengah,322531,318417,1028313,965748
25,Sulawesi Selatan,1446228,1499201,2478203,2611144
26,Sulawesi Tenggara,305406,305967,816420,804793
27,Gorontalo,173903,179778,348011,338472
28,Sulawesi Barat,131009,134079,450517,443046
29,Maluku,286468,282927,489009,475102
30,Maluku Utara,142869,138372,388524,368322
31,Papua Barat,120377,107386,282021,250638
32,Papua,398464,337165,1107419,990333
33,Indonesia,59559622,58760634,60071291,59249779

In [43]:
# delete row 33 (indonesia)
penduduk = penduduk.drop([33])
penduduk

,Provinsi,Laki-laki_kota,Perempuan_kota,Laki-laki_desa,Perempuan_desa
0,Aceh,636535,627270,1612417,1618188
1,Sumatera Utara,3179246,3203426,3304108,3295424
2,Sumatera Barat,931178,946644,1473199,1495888
3,Riau,1109937,1059592,1743231,1625607
4,Jambi,480788,467784,1100322,1043371
5,Sumatera Selatan,1339228,1326901,2453419,2330846
6,Bengkulu,266826,264155,610333,574204
7,Lampung,990172,965053,2926450,2726730
8,Kep. Bangka Belitung,309988,292118,325106,296084
9,Kepulauan Riau,711274,679513,150870,137506
10,DKI Jakarta,4870938,4736849,0,0
11,Jawa Barat,14399439,13883476,7507601,7263216
12,Jawa Tengah,7343099,7461939,8748013,8829606
13,DI Yogyakarta,1143576,1153685,565334,594896
14,Jawa Timur,8839498,8993235,9664018,9980006
15,Banten,3636326,3487794,1802822,1705224
16,Bali,1186075,1156504,775273,772905
17,Nusa Tenggara Barat,908555,969275,1275091,1347291
18,Nusa Tenggara Timur,456345,449598,1870142,1907742
19,Kalimantan Barat,668784,659401,1578119,1489679
20,Kalimantan Tengah,380375,359881,773368,698465
21,Kalimantan Selatan,772573,752552,1063637,1037854
22,Kalimantan Timur,1152816,1052909,718874,628544
23,Sulawesi Utara,518796,507788,641107,602905
24,Sulawesi Tengah,322531,318417,1028313,965748
25,Sulawesi Selatan,1446228,1499201,2478203,2611144
26,Sulawesi Tenggara,305406,305967,816420,804793
27,Gorontalo,173903,179778,348011,338472
28,Sulawesi Barat,131009,134079,450517,443046
29,Maluku,286468,282927,489009,475102
30,Maluku Utara,142869,138372,388524,368322
31,Papua Barat,120377,107386,282021,250638
32,Papua,398464,337165,1107419,990333

In [44]:
# insert new coloumn
penduduk['Total Penduduk']=(penduduk['Laki-laki_kota']+penduduk['Perempuan_kota']+penduduk['Laki-laki_desa']+penduduk['Perempuan_desa'])
penduduk

,Provinsi,Laki-laki_kota,Perempuan_kota,Laki-laki_desa,Perempuan_desa,Total Penduduk
0,Aceh,636535,627270,1612417,1618188,4494410
1,Sumatera Utara,3179246,3203426,3304108,3295424,12982204
2,Sumatera Barat,931178,946644,1473199,1495888,4846909
3,Riau,1109937,1059592,1743231,1625607,5538367
4,Jambi,480788,467784,1100322,1043371,3092265
5,Sumatera Selatan,1339228,1326901,2453419,2330846,7450394
6,Bengkulu,266826,264155,610333,574204,1715518
7,Lampung,990172,965053,2926450,2726730,7608405
8,Kep. Bangka Belitung,309988,292118,325106,296084,1223296
9,Kepulauan Riau,711274,679513,150870,137506,1679163
10,DKI Jakarta,4870938,4736849,0,0,9607787
11,Jawa Barat,14399439,13883476,7507601,7263216,43053732
12,Jawa Tengah,7343099,7461939,8748013,8829606,32382657
13,DI Yogyakarta,1143576,1153685,565334,594896,3457491
14,Jawa Timur,8839498,8993235,9664018,9980006,37476757
15,Banten,3636326,3487794,1802822,1705224,10632166
16,Bali,1186075,1156504,775273,772905,3890757
17,Nusa Tenggara Barat,908555,969275,1275091,1347291,4500212
18,Nusa Tenggara Timur,456345,449598,1870142,1907742,4683827
19,Kalimantan Barat,668784,659401,1578119,1489679,4395983
20,Kalimantan Tengah,380375,359881,773368,698465,2212089
21,Kalimantan Selatan,772573,752552,1063637,1037854,3626616
22,Kalimantan Timur,1152816,1052909,718874,628544,3553143
23,Sulawesi Utara,518796,507788,641107,602905,2270596
24,Sulawesi Tengah,322531,318417,1028313,965748,2635009
25,Sulawesi Selatan,1446228,1499201,2478203,2611144,8034776
26,Sulawesi Tenggara,305406,305967,816420,804793,2232586
27,Gorontalo,173903,179778,348011,338472,1040164
28,Sulawesi Barat,131009,134079,450517,443046,1158651
29,Maluku,286468,282927,489009,475102,1533506
30,Maluku Utara,142869,138372,388524,368322,1038087
31,Papua Barat,120377,107386,282021,250638,760422
32,Papua,398464,337165,1107419,990333,2833381

In [45]:
# load data ke-2
luas_prov = pd.read_excel (r'D:/Penduduk.xlsx', sheet_name = 'luas')
luas_prov = luas_prov.drop(['No'], axis=1)
luas_prov = luas_prov.drop([33])
luas_prov

                Provinsi       Luas
0                   Aceh   57956.00
1         Sumatera Utara   72981.23
2         Sumatera Barat   42012.89
3                   Riau   87023.66
4         Kepulauan Riau    8201.72
5                  Jambi   50058.16
6       Sumatera Selatan   91592.43
7   Kep. Bangka Belitung   16424.06
8               Bengkulu   19919.33
9                Lampung   34623.80
10           DKI Jakarta     664.01
11            Jawa Barat   35377.76
12                Banten    9662.92
13           Jawa Tengah   32800.69
14         DI Yogyakarta    3133.15
15            Jawa Timur   47799.75
16                  Bali    5780.06
17   Nusa Tenggara Barat   18572.32
18   Nusa Tenggara Timur   48718.10
19      Kalimantan Barat  147307.00
20     Kalimantan Tengah  153564.50
21    Kalimantan Selatan   38744.23
22      Kalimantan Timur  204534.34
23        Sulawesi Utara   13851.64
24             Gorontalo   11257.07
25       Sulawesi Tengah   61841.29
26      Sulawesi Selatan   46717.48
27        Sulawesi Barat   16787.18
28     Sulawesi Tenggara   38067.70
29                Maluku   46914.03
30          Maluku Utara   31982.50
31                 Papua  319036.05
32           Papua Barat   97024.27

In [46]:
# merging Total Penduduk dengan Luas_prov
data = pd.merge(penduduk,luas_prov,on='Provinsi')
data = data.drop(['Laki-laki_kota','Perempuan_kota','Laki-laki_desa','Perempuan_desa'], axis=1)
data

                Provinsi  Total Penduduk       Luas
0                   Aceh         4494410   57956.00
1         Sumatera Utara        12982204   72981.23
2         Sumatera Barat         4846909   42012.89
3                   Riau         5538367   87023.66
4                  Jambi         3092265   50058.16
5       Sumatera Selatan         7450394   91592.43
6               Bengkulu         1715518   19919.33
7                Lampung         7608405   34623.80
8   Kep. Bangka Belitung         1223296   16424.06
9         Kepulauan Riau         1679163    8201.72
10           DKI Jakarta         9607787     664.01
11            Jawa Barat        43053732   35377.76
12           Jawa Tengah        32382657   32800.69
13         DI Yogyakarta         3457491    3133.15
14            Jawa Timur        37476757   47799.75
15                Banten        10632166    9662.92
16                  Bali         3890757    5780.06
17   Nusa Tenggara Barat         4500212   18572.32
18   Nusa Tenggara Timur         4683827   48718.10
19      Kalimantan Barat         4395983  147307.00
20     Kalimantan Tengah         2212089  153564.50
21    Kalimantan Selatan         3626616   38744.23
22      Kalimantan Timur         3553143  204534.34
23        Sulawesi Utara         2270596   13851.64
24       Sulawesi Tengah         2635009   61841.29
25      Sulawesi Selatan         8034776   46717.48
26     Sulawesi Tenggara         2232586   38067.70
27             Gorontalo         1040164   11257.07
28        Sulawesi Barat         1158651   16787.18
29                Maluku         1533506   46914.03
30          Maluku Utara         1038087   31982.50
31           Papua Barat          760422   97024.27
32                 Papua         2833381  319036.05

In [47]:
# penjumlahan baris
a = data.sum(axis=0, skipna=True)
a

Provinsi          AcehSumatera UtaraSumatera BaratRiauJambiSumat...
Total Penduduk                                            237641326
Luas                                                    1.91093e+06
dtype: object

In [48]:
# membuat baris baru
b = pd.Series(['Indonesia',a[1],a[2]], index = ['Provinsi','Total Penduduk','Luas'])
data = data.append(b,ignore_index=True)
data

                Provinsi  Total Penduduk        Luas
0                   Aceh         4494410    57956.00
1         Sumatera Utara        12982204    72981.23
2         Sumatera Barat         4846909    42012.89
3                   Riau         5538367    87023.66
4                  Jambi         3092265    50058.16
5       Sumatera Selatan         7450394    91592.43
6               Bengkulu         1715518    19919.33
7                Lampung         7608405    34623.80
8   Kep. Bangka Belitung         1223296    16424.06
9         Kepulauan Riau         1679163     8201.72
10           DKI Jakarta         9607787      664.01
11            Jawa Barat        43053732    35377.76
12           Jawa Tengah        32382657    32800.69
13         DI Yogyakarta         3457491     3133.15
14            Jawa Timur        37476757    47799.75
15                Banten        10632166     9662.92
16                  Bali         3890757     5780.06
17   Nusa Tenggara Barat         4500212    18572.32
18   Nusa Tenggara Timur         4683827    48718.10
19      Kalimantan Barat         4395983   147307.00
20     Kalimantan Tengah         2212089   153564.50
21    Kalimantan Selatan         3626616    38744.23
22      Kalimantan Timur         3553143   204534.34
23        Sulawesi Utara         2270596    13851.64
24       Sulawesi Tengah         2635009    61841.29
25      Sulawesi Selatan         8034776    46717.48
26     Sulawesi Tenggara         2232586    38067.70
27             Gorontalo         1040164    11257.07
28        Sulawesi Barat         1158651    16787.18
29                Maluku         1533506    46914.03
30          Maluku Utara         1038087    31982.50
31           Papua Barat          760422    97024.27
32                 Papua         2833381   319036.05
33             Indonesia       237641326  1910931.32

In [49]:
# menghitung kepadatan penduduk
data['Kepadatan'] = (data['Total Penduduk']/data['Luas'])
data

                Provinsi  Total Penduduk        Luas     Kepadatan
0                   Aceh         4494410    57956.00     77.548658
1         Sumatera Utara        12982204    72981.23    177.884149
2         Sumatera Barat         4846909    42012.89    115.367188
3                   Riau         5538367    87023.66     63.642083
4                  Jambi         3092265    50058.16     61.773445
5       Sumatera Selatan         7450394    91592.43     81.342901
6               Bengkulu         1715518    19919.33     86.123278
7                Lampung         7608405    34623.80    219.744944
8   Kep. Bangka Belitung         1223296    16424.06     74.481949
9         Kepulauan Riau         1679163     8201.72    204.733032
10           DKI Jakarta         9607787      664.01  14469.340823
11            Jawa Barat        43053732    35377.76   1216.971679
12           Jawa Tengah        32382657    32800.69    987.255360
13         DI Yogyakarta         3457491     3133.15   1103.519142
14            Jawa Timur        37476757    47799.75    784.036674
15                Banten        10632166     9662.92   1100.305705
16                  Bali         3890757     5780.06    673.134362
17   Nusa Tenggara Barat         4500212    18572.32    242.307477
18   Nusa Tenggara Timur         4683827    48718.10     96.141414
19      Kalimantan Barat         4395983   147307.00     29.842322
20     Kalimantan Tengah         2212089   153564.50     14.404950
21    Kalimantan Selatan         3626616    38744.23     93.604028
22      Kalimantan Timur         3553143   204534.34     17.371865
23        Sulawesi Utara         2270596    13851.64    163.922539
24       Sulawesi Tengah         2635009    61841.29     42.609218
25      Sulawesi Selatan         8034776    46717.48    171.986503
26     Sulawesi Tenggara         2232586    38067.70     58.647778
27             Gorontalo         1040164    11257.07     92.400953
28        Sulawesi Barat         1158651    16787.18     69.019990
29                Maluku         1533506    46914.03     32.687578
30          Maluku Utara         1038087    31982.50     32.457969
31           Papua Barat          760422    97024.27      7.837441
32                 Papua         2833381   319036.05      8.881068
33             Indonesia       237641326  1910931.32    124.358905

In [50]:
# interpretasi baris 33 : yaitu Indonesia
x = data['Provinsi']
y = data['Kepadatan']
s = str(x[33])
r = str(y[33])
print('kepadatan penduduk '+ s + ' tahun 2010 sebesar '+ r + ' artinya bahwa secara rata-rata tiap 1 kilometer persegi wilayah di ' 
      + s +' didiami oleh '+ r + ' penduduk.')

kepadatan penduduk Maluku Utara tahun 2010 sebesar 32.4579692019073 artinya bahwa secara rata-rata tiap 1 kilometer persegi wilayah di Maluku Utara didiami oleh 32.4579692019073 penduduk.